<!-- Main body of the dashboard.  -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <app-adminsidebar></app-adminsidebar>
        </div>
        <div class="col-md">
            <h1 class="text-center">Admin Dashboard</h1>
            <div class="text-end d-flex justify-content-end">
                <button class="btn btn-primary mx-3 " (click)="viewById()">View By ID</button>
                <a href="/addquestion">
                    <button class="btn btn-primary me-5">Add New Question</button>
                </a>
            </div>

            <form class="d-flex mt-3 justify-content-end " role="search" *ngIf="searchById" #result = 'ngForm'>
                {{result.value|json}}
                <input class="form-control me-2 w-50" type="search" placeholder="Enter ID" aria-label="Search" >
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            
            <hr>
            <app-databasetable ></app-databasetable>
        </div>
    </div>
</div>
