<header class="p-3 text-bg-primary " *ngIf="hide" >
    <div class="container ">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <div class="log">
                <img src="favicon.ico" alt="logo">
            </div>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-white">Home</a></li>
        </ul>
        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2"  data-bs-toggle="modal" data-bs-target="#staticBackdrop"  >Login</button>
        </div>
      </div>
    </div>
  </header>
  
<!-- Modal -->
<div class="modal fade" id="staticBackdrop"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Login To The Quiz</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-body p-5 pt-0">
          <form class="">
            
            <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit" (click)="loginWithGoogle()" data-bs-dismiss="modal">
              <svg class="bi me-1" width="16" height="16"><use xlink:href="#twitter"></use></svg>
              Sign up with Google
            </button>
            <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3" type="submit">
              <svg class="bi me-1" width="16" height="16"><use xlink:href="#facebook"></use></svg>
              Sign up with Phone
            </button>
          </form>
        </div>
  
      </div>
    </div>
  </div>
</div>

