<div class="container border vh-100 bg-warning position-relative">
    <div class="row  align-items-end border bg-white p-3 rounded shadow  position-absolute start-50 top-50 translate-middle">
        <h3 class="text-center">Are You Sure Want To Delete This Question?
          
        </h3>
      <div class="col text-start">
        <a href="/admindashboard">
          <button class="btn btn-danger" (click) = "cancel()">Cancel</button>
        </a>
      </div>
      <div class="col text-end">
        <a href="/admindashboard">
          <button class="btn btn-primary" (click) = "okay()">Ok</button>
        </a>
      </div>
    </div>
  </div>

