<app-profile-header></app-profile-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">Start Time: <span [ngStyle]="{color:'blue'}">{{startTime}}</span></div>
        <div class="col-md-4">End Time: <span [ngStyle]="{color:'red'}">{{endTime}}</span></div>
        <div class="col-md-4">Remaining Time: <span [ngStyle]="{color:'green'}">{{timer}}</span></div>
    </div>
    <div class="row text-white" style="background-color: rgb(3,3,93);" id="point-container">
        <div class="col text-center text-white" id="points">
            <h3 >{{score.points}}</h3>
            <strong >Points</strong> 
            <div class="progress" role="progressbar" aria-label="Default striped example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped" [ngStyle]="{width:progress+'%'}"></div>
              </div>
        </div>
    </div>
    <div class="row text-white " style="background-color: rgb(3,3,93);">
        <!-- Question and the options.  -->
        <div class="col-md-8 border-end border-5 py-2 bg-dark ">
            <div class="question">
                <p>{{currentQuestion+1}}. {{questionlist[currentQuestion].ques}}</p>
            </div>
            <div class="option">
                <ol type="A">
                    <li (click)="select('opta')">{{questionlist[currentQuestion].opta}}</li>
                    <li (click)="select('optb')">{{questionlist[currentQuestion].optb}}</li>
                    <li (click)="select('optc')">{{questionlist[currentQuestion].optc}}</li>
                    <li (click)="select('optd')">{{questionlist[currentQuestion].optd}}</li>
                </ol>
            </div>
            <div class="next-prev d-flex justify-content-between">
                <button class="btn btn-primary" [disabled]="currentQuestion==0" (click)="prevQuestion()">Previous</button>
                <button class="btn btn-primary" [disabled]="currentQuestion==this.questionlist.length-1" (click)="nextQuestion()">Next</button>
            </div>
        </div>

        <!-- Button to go to a question.  -->
        <div class="col-md-4 bg-dark ">
            <div class="d-grid gap-2 d-md-block " >
                <button class="btn btn-primary m-1 btn-lg" *ngFor="let q of questionlist ; let i = index" (click)="goToQuestion(i)">{{i+1}}</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-between py-3" style="background-color: rgb(3,3,93);">
            <button class="btn btn-primary" (click)="goBack()">Back</button>
            <button class="btn btn-primary" (click)="submit()">Submit</button>
        </div>
    </div>
</div>
