
.option ol li
{
    list-style-position: inside;
    line-height: 40px;
    height: 40px;
    margin-top: 5px;
    padding: 2px 10px 8px 10px;
}
.option ol li:hover
{
    background-color: rgba(3,3,93);
    cursor: pointer;
    
}

#points h3
{   
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
    line-height: 50px;
    background-color: blue;
    padding: 0 10px;
    
}