  <!-- Main body of the application. -->
  <div class="container-fluid position-relative" style="height: 350px;">
    <div class="row align-items-center position-absolute top-50 start-50 translate-middle">
        <div class="col text-center">
            <h1 class="fs-1 text-white">Welcome To The Quiz</h1>
            <button class="btn btn-primary my-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Get Started
            </button>
        </div>
    </div>
</div>

<button class="btn btn-primary" (click)="logout()">Logout</button>


<div class="modal fade" id="staticBackdrop"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Login To The Quiz</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="modal-body p-5 pt-0">
            <form class="">
              
              <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit" (click)="loginWithGoogle()" data-bs-dismiss="modal">
                <svg class="bi me-1" width="16" height="16"><use xlink:href="#twitter"></use></svg>
                Sign up with Google
              </button>
              <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3" type="submit">
                <svg class="bi me-1" width="16" height="16"><use xlink:href="#facebook"></use></svg>
                Sign up with Phone
              </button>
            </form>
          </div>
    
        </div>
      </div>
    </div>
</div>


