<app-profile-header></app-profile-header>

<div class="container-fluid">
    <div class="row py-3 align-items-center" style=" background-color: rgb(3,3,93);">
        <div class="col-md-8 mx-auto ">
            <div class="card border border-3 border-warning p-3">
                <h2>Total Time For The Quiz Is 2 Hours Only.</h2>
                <p><strong>Select the category and level of the question from the next page.</strong></p>
                <p><strong>You can select one option at a time.</strong></p>
                <p><strong>You cannot skip a question.</strong></p>
                <p><strong>There will be 10 points for each correct answer.</strong></p>
                <p><strong>There will be 0 points for each incorrect answer.</strong></p>
            </div>
            <div class=" text-center mt-2">
                <button class="btn btn-primary w-25 mx-auto" (click)="nextPage()">Next</button>
            </div>
        </div>
    </div>
</div>