<app-profile-header></app-profile-header>
<div class="container-fluid text-white" style="background-color: rgb(3,3,93);">
    <div class="row">
      <div class="col text-center">
        <h3 class="text-center mt-3">Your Are About To Start Your Customized Quiz</h3>
            <p>Selected Category: <span class="badge bg-success p-2 ">{{category}}</span></p>
            <p>Selected Level: <span class="badge bg-success p-2 ">{{level}}</span></p>
            <p>Number of questions:<span class="badge bg-success p-2 ">{{qnum}}</span></p>

            <div class="d-flex justify-content-lg-between justify-content-center mb-2">
                <button class="btn btn-primary" (click)="goBack()">Back</button>
                <button class="btn btn-primary" (click)="nextPage()">Next</button>
            </div>
      </div>
    </div>
  </div>