<h1 class="text-center">Admin Dashboard</h1>
<div class="container-fluid">
    <div class="row border">
        <!-- sidebar  -->
        <div class="col-md-4 border">
            <app-adminsidebar></app-adminsidebar>
        </div>

        <!-- Template form for adding question.  -->
        <div class="col-md-6 ">
        <!-- Add new question form.  -->
            <div class="container-fluid card shadow bg-body-tertiary p-3 mb-3 ">
                <div class="row mt-3 ">
                    <div class="col ">
                        <form action="" #addQuesForm="ngForm">
                           {{addQuesForm.value|json}} 
                        <h1 class="text-center ">Edit This Question</h1>
                        <div class="form-group">
                            <label for="question">Question</label>
                            <input type="text" class="form-control" [(ngModel)]="question.ques" required #ques="ngModel" name="ques" >
                </div>

                <div class="form-group">
                    <label for="opta">Option A</label>
                    <input type="text" class="form-control"
                     required name="opta" [(ngModel)]="question.opta" #opta="ngModel">
                </div>

                <div class="form-group">
                    <label for="optb">Option B</label>
                    <input type="text" class="form-control" required name="optb" [(ngModel)]="question.optb" #optb="ngModel">
                </div>

                <div class="form-group">
                    <label for="optc">Option C</label>
                    <input type="text" class="form-control" required name="optc" [(ngModel)]="question.optc" #optb="ngModel">
                </div>

                <div class="form-group">
                    <label for="optd">Option D</label>
                    <input type="text" class="form-control" required name="optd" [(ngModel)]="question.optd" #optb="ngModel">
                </div>

                <div class="form-group">
                    <label for="answer">Select Answer</label><br>
                    <select name="ans" id="" class="custom-select w-25" selected [(ngModel)]="question.ans">
                        <option >--Select Answer--</option>
                        <option  *ngFor="let o of options">{{o}}</option>
                    </select>
                </div>
        
                <div class="form-group">
                    <label for="category">Select Category</label><br>
                    <select name="cat" id="" class="custom-select w-25" selected [(ngModel)] = "question.cat">
                        <option >
                            --Select city--
                        </option>
                        <option  *ngFor = "let c of category">
                            {{c}}
                        </option>
                    </select>
                </div>
            
                <div class="form-group">
                    <label for="level">Select Level</label><br>
                    <select name="level" id="" class="custom-select w-25" [(ngModel)] = "question.level">
                        <option selected >
                            --Select city--
                        </option>
                        <option  *ngFor = "let l of level">
                            {{l}}
                        </option>
                    </select>
                </div>
                <div class="text-center">
                    <a href="/admindashboard">
                        <button class="btn btn-primary" (click)="editThisQues()">Submit</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

    </div>   
    </div>
</div>
