<app-profile-header></app-profile-header>
<div class="container-fluid" style="background-color: rgb(3,3,93);">
    <div class="row text-center text-white">
        <h1>Customize Your Quize</h1>
        {{customize|json}}
    </div>
    <div class="row  align-items-center" style="height: 250px;">
        <div class="col">
            <form #myform="ngForm" class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Select Category</span>
                            <select name="category" id="" class="custom-select" [(ngModel)] = "customize.category">
                                <option selected >
                                    --Select city--
                                </option>
                                <option  *ngFor = "let c of category">
                                    {{c}}
                                </option>
                            </select>
                            </div>
                    </div>

                    <div class="col-md-4">
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" >Number of questions</span>
                            <input type="number" class="form-control" min="5" step="5" name='qnum' [(ngModel)]="customize.qnum" >
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Select Level</span>
                            <select name="level" id="" class="custom-select" [(ngModel)] = "customize.level">
                                <option selected >
                                    --Select level--
                                </option>
                                <option  *ngFor = "let l of level">
                                    {{l}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="d-grid gap-2 w-25 mx-auto mt-5">
                        <button class="btn btn-primary" (click)="nextPage()">Next</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>