<app-profile-header></app-profile-header>

<div class="container-fluid">
    <div class="row py-3 align-items-center" style=" background-color: rgb(3,3,93);">
        <div class="col-md-8 mx-auto">

            <div class="d-flex flex-row justify-content-between card border border-3 border-warning p-3">
                <div class="">
                    <p><strong>Number of questions attempted:<span class="badge bg-primary">{{score.qnum}}</span></strong> </p>
                    <p><strong>Number of correct answers: <span class="badge bg-success">{{score.correctAns}}</span></strong></p>
                    <p><strong>Number of incorrect answers: <span class="badge bg-danger">{{score.incorrectAns}}</span></strong></p>
                    <p><strong>Total points obtained: <span class="badge bg-secondary">{{score.points}}</span></strong></p>
                </div>
                <div class="text-center  w-50 bg-info text-white rounded">
                    <h3 class="mt-5">{{remark}}</h3>
                </div>
            </div>
            
            <div class="text-center">
                <button class="btn btn-primary mt-2" (click)="goToReview()">Review</button>
            </div>
        </div>
    </div>
</div>