<table class="w-100">
    <thead>
      <tr>
        <th *ngFor="let r of requiredTableHeader">{{r}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let q of questions">
        <td class="d-none">{{q._id}}</td>
        <td>{{q.ques}}</td>
        <td>{{q.ans}}</td>
        <td>{{q.cat}}</td>
        <td>{{q.level}}</td>
        <td>
          <a href="edit/{{q._id}}">
            <button class="btn btn-sm btn-primary">Edit</button>
          </a>
        </td>
        <td>
          <a href="confirm/{{q._id}}">
            <button class="btn btn-sm btn-danger">Delete</button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
