<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap justify-content-lg-between justify-content-center">
      <p class="navbar-brand">Home</p>
      <h3>Exam Duration: 2 Hours</h3>
      <p>Hi, {{displayName}}</p>


      <div class="dropdown text-end">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{{photoUrl}}" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#" (click)="logout()">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

